
/*Standard Color space*/
:root {
    --background_1: #000000;
    --background_2: #324345;
    --background_3: #26425a;
    --background_4: #272727;

    --accent_color_1: orange;
    --accent_color_2: #242f49;
    
    --text_color_1: #ffffff;
    --text_color_2: #000000;
    
    --navbar_element: #4d4d4d;
    --navbar_background: #7a8b95;

    --app_header_background: #98c0f5;

    --button_color_1: #0d6efd;
    --button_color_2: #5cc46d;

    --success: green;
    --destructive: #cc0000;
    
    --vicious_stance: linear-gradient(60deg, #29323c 0%, #485563 100%);
}


/*Dark Color space*/
/*
:root {
    --background_1: #0c0032;
    --background_2: #190062;
    --background_3: #240090;

    --accent_color_1: orange;
    --accent_color_2: #d4d4d4;
    
    --text_color_1: #ffffff;
    --text_color_2: #000000;
    
    --navbar_element: #282828;
    --navbar_background: #190062;

    --app_header_background: #3500D3;

    --button_color_1: #007bff;
    --button_color_2: #5cc46d;
}
*/

/*Light Color space*/
/*
:root {
    --background_1: #333333;
    --background_2: #595959;
    --background_3: #ffffff;

    --accent_color_1: orange;
    --accent_color_2: #d4d4d4;
    
    --text_color_1: #ffffff;
    --text_color_2: #000000;
    
    --navbar_element: #4d4d4d;
    --navbar_background: #ffd5a2;

    --app_header_background: #98c0f5;

    --button_color_1: #007bff;
    --button_color_2: #5cc46d;
}
*/