.dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
    color: white;
}

.dashboard #map {
    background-image: var(--vicious_stance);
    width: 75%;
    height: 100%;
    display: grid;
    place-items: center;
}

.dashboard #map img {
    max-width: 300px;
    max-height: 300px;
}

.dashboard #map .placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .chat {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dashboard button {
    cursor: pointer;
    border: none;
}

.dashboard .footer {
    margin-top: auto;
    display:flex;
    justify-content: stretch;
}

.dashboard button#mapgen {
    padding: 3vh 0.5vw;
    background-color: #1C2025;
    color: white;
    width: 70%;
}

.dashboard button#notis {
    width: 30%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.chatinput {
    resize: vertical;
    max-height: 20vh;
    min-height: 21px;
}

.dashboard .chat .header {
    padding: 2.5vh 0 2.5vh 0;
    width: auto;
    display: grid;
    place-items: center;
    background-color: #1C2025;
    border-style: solid;
    border-color: black;
}

.logcontainer {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.logcontainer .msg {
    display: flex;
    align-items: start;
    padding: 0.6vw;
}

.msg .text {
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}

.logcontainer .msg#severe {
    background-color: red;
}

.logcontainer .msg .text {
    width: calc(100% - 2.5vw);
    padding: 0 0.5vw 0 0.5vw;
    overflow-wrap: break-word;
}